
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
p,
a,
li,
ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* Basic style #e5e5e5 */
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  width: 100%;
}

/* Fonts */
h1,
h3 {
  font-size: 1.2em;
}

h2 {
  font-size: 1.6em;
}

h4,
h5 {
  font-size: 1.1em;
}

.leading {
  font-size: 1.1em;
}

/* Mobile styles */
.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

header {
  position: fixed;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  z-index: 2;
}

.navigation-info {
  background: #3e3e3e;
}

.navigation-content-info {
  display: flex;
  padding: 5px 20px 10px 62vw;
}

.navigation-content-info li {
  padding-left: 17px;
  list-style-type: none;
}

.logo a {
  color: #6070ff;
  text-decoration: none;
}

.see-more-program a {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
}

.footer-partner-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: justify;
  list-style-type: none;
  margin: 30px;
  justify-content: space-around;
}

.footer-partner-list a {
  color: #b7b7b5;
  font-weight: bold;
  font-size: 20px;
}

.navigation-content-info li a {
  text-decoration: none;
  color: #fff;
}

.navigation-bar {
  background: #f9f9f9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  height: 75px;
}

.logo-icon {
  width: 28%;
  border: none;
  background: none;
}

.menu-line {
  width: 20px;
  height: 3px;
  background: #b5bfc9;
  margin-bottom: 4px;
  border: 1px solid #a6b2bf;
}

.fsnav a:nth-child(7) {
  border: 0.5px solid #f00;
  padding: 6px 4px;
}

/* section wrapper */
.section-wrapper {
  padding-top: 13vh;
}

/* Welcome section */
.welcome {
  display: flex;
  margin-top: 0;
  background-image: url(../images/istockphoto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.welcome-content {
  margin: 6vh 3vw 10vh;
}

.welcome-content .greeting-paragraph {
  color: #f00;
  font-size: 20px;
  font-weight: normal;
  margin-top: 7vh;
}

.welcome-content h1 {
  background-image: linear-gradient(to right, #f21500, #ac0102, #7f110e, #e95119, #fc560e, #f46749);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
  margin-top: 7vh;
}

.welcome-content .intro-paragraph {
  border: 2px solid #fff;
  font-weight: normal;
  font-size: 11px;
  padding: 3px;
  margin-top: 9vh;
}

.welcome-venue {
  margin-top: 15vh;
}

.welcome-venue h3 {
  padding-bottom: 2vh;
  font-size: 25px;
  font-weight: bold;
}

.welcome-venue p {
  font-size: 17px;
}

/* main program section */
.program {
  background-color: #000;
  opacity: 1;
  background-image: linear-gradient(135deg, #0e0e10 25%, transparent 25%), linear-gradient(225deg, #0e0e10 25%, transparent 25%), linear-gradient(45deg, #0e0e10 25%, transparent 25%), linear-gradient(315deg, #0e0e10 25%, #000 25%);
  background-position: 12px 0, 12px 0, 0 0, 0 0;
  background-size: 12px 12px;
  background-repeat: repeat;
  width: 100%;
  height: auto;
  margin-top: -3vh;
  margin-bottom: 3vh;
}

.program h3 {
  color: #fff;
  text-align: center;
  padding-top: 5vh;
}

.program h3::after {
  content: "";
  display: block;
  margin-left: 40vw;
  width: 15%;
  padding-top: 20px;
  border-bottom: 1px solid #f00;
}

.program-content {
  display: grid;
  margin: 4vh 2vw;
}

.program-content-card {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1.5fr;
  gap: 2px;
  align-items: center;
  margin-bottom: 4vh;
  height: auto;
  opacity: 0.6;
  background: #3c3f46;
}

.program-content-image img {
  width: 60%;
  height: 60%;
  padding-left: 3vw;
}

.program-content-title h4 {
  color: #f00;
  font-size: 13px;
  margin: 1.5px;
}

.program-content-info p {
  font-size: 15px;
  align-self: center;
  color: #fff;
}

.see-more-program {
  text-align: center;
  background: #f00;
  padding: 20px 10px;
  margin: 0 20vw 18vh 20vw;
}

/* featured speaker section */
.featured-speaker {
  background: #fff;
  margin-bottom: 15vh;
}

.featured-speaker h3 {
  text-align: center;
  padding-top: 5vh;
  font-size: 22px;
  font-weight: bold;
}

.featured-speaker h3::after {
  content: "";
  display: block;
  margin-left: 43%;
  width: 10%;
  padding-top: 20px;
  border-bottom: 2px solid #f00;
}

.featured-speaker-content {
  background: #fff;
  margin-top: 10vh;
}

.featured-speaker-card {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 10px;
  padding: 3vh 1.5vw;
  margin-bottom: 3vh;
}

.featured-speaker-image {
  background-color: #fff;
  opacity: 0.8;
  background-image: repeating-linear-gradient(45deg, #000 25%, transparent 25%, transparent 75%, #000 75%, #000), repeating-linear-gradient(45deg, #000 25%, #fff 25%, #fff 75%, #000 75%, #000);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
  width: 50%;
  height: 50%;
  bottom: auto;
}

.featured-speaker-image img {
  width: 125px;
  height: 120px;
  margin-top: 3vh;
  padding-left: 3.5vw;
}

.featured-speaker-info h6 {
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  margin-top: 0.5vh;
}

.featured-speaker-title {
  font-size: 14px;
  align-items: flex-start;
  margin-top: 0;
  color: #f00;
}

.featured-speaker-title::after {
  content: "";
  display: block;
  width: 20%;
  padding-top: 1vh;
  border-bottom: 2px solid #e4e4e4;
}

.featured-speaker-detail {
  font-size: 14px;
  align-items: flex-start;
  padding-top: 1vh;
}

.more-speakers {
  border: 1px solid red;
  margin: 5vh  3vw;
}

.more-speakers h4 {
  text-align: center;
  align-content: space-around;
  margin-top: -3vh;
}

/* About welcome page */
.welcome-content .greeting-paragraph-about {
  color: #f00;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 3vh;
}

.welcome-content h2 {
  color: #d5552a;
  font-size: 32px;
  text-align: center;
  margin-bottom: 4vh;
}

.welcome-content .intro-paragraph-about {
  background-color: #fff;
  font-weight: normal;
  height: auto;
  text-align: justify;
  font-size: 10px;
  padding: 8% 5%;
  margin-top: 15vh;
}

.welcome-content-contact {
  margin: 6vh 0;
  text-align: center;
  font-weight: normal;
}

/* about program section */
.program-about {
  background: #fff;
  margin-top: -3vh;
  margin-bottom: 3vh;
}

.program-about h5 {
  margin: 20vh 15vw 4vh 15vw;
  text-align: center;
}

.program-about h5::after {
  content: "";
  display: block;
  margin-left: 30vw;
  width: 15%;
  padding-top: 20px;
  border-bottom: 2px solid #f00;
}

.program-about p {
  text-align: center;
  margin: 2vh 10vw;
  color: #3c3c3c;
}

.program-about-logo {
  margin: 5vh 5vw;
  align-items: center;
  border: 1px solid #302f2f;
}

.program-about-logo img {
  align-content: center;
  width: 60%;
  margin-left: 20vw;
  height: auto;
}

.program-about-logo p {
  font-size: 14px;
  font-weight: normal;
  color: #302f2f;
}

.program-about-logo p::before,
.program-about-logo p::after {
  content: "";
  display: block;
  margin: 0 2vw;
  border-bottom: 2px solid #cacaca;
}

/* past summit section */
.featured-speaker-about {
  background: #fff;
}

.featured-speaker-about h3 {
  text-align: center;
  font-size: 25px;
  margin: 15vh 6vw 3vh;
}

.featured-speaker-about h3::after {
  content: "";
  display: block;
  margin-left: 38vw;
  width: 15%;
  padding-top: 20px;
  border-bottom: 2px solid #f00;
}

.featured-speaker-about p {
  margin: 3vh 5vw;
  text-align: center;
}

.past-summit-images {
  position: relative;
  text-align: center;
  color: white;
  margin: 25px;
}

.past-summit-images img {
  width: 100%;
}

.centered {
  position: absolute;
  padding: 30% 10%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%;
  height: 100%;
}

/* footer section */
.footer {
  background: #fff;
}

.footer-partner {
  background: #414246;
  height: auto;
}

.footer-partner h4 {
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding-top: 4vh;
}

.footer-partner h4::after {
  content: "";
  display: block;
  margin-left: 43vw;
  width: 13%;
  padding-top: 15px;
  border-bottom: 2px solid #f00;
}

.footer-partner-list li {
  padding: 6px;
}

.footer-partner-list img {
  width: 70%;
}

.footer-foot {
  display: grid;
  align-items: center;
  grid-template-columns: 0.7fr 1fr;
  margin: 30px;
}

.footer-foot-info h5 {
  color: #b7b7b5;
  font-size: 14px;
  font-weight: normal;
}

.footer-logo img {
  width: 45%;
}

.dropdown {
  text-align: center;
  border: 1px solid #b7b7b5;
  margin: 15vh 4vw;
  padding: 20px 10px;
  color: #b7b7b5;
  font-size: 18px;
}

.arrow {
  border: solid #f00;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 3vw;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@media all  and (max-width: 619px) {
  .navigation-info {
    display: none;
  }

  .logo {
    display: none;
  }

  .menu {
    padding: 20px 10px;
    margin-left: -40vw;
  }

  .fsnav {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  }

  .fsnav-open {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
  }

  .fsnav-close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 50px;
    width: 1.25em;
    height: 1.24em;
    outline: none;
    background: none;
    border: none;
    border-radius: 50%;
    color: #fff;
    user-select: none;
    cursor: pointer;
    transition: background 0.1s;
  }

  .fsnav-link {
    line-height: 2;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    padding: 0 20px;
    transition: background 0.1s;
  }

  .fsnav-close:active,
  .fsnav-close:hover,
  .fsnav-link:active,
  .fsnav-link:hover {
    background: rgba(255, 255, 255, 0.1);
    -webkit-tap-highlight-color: transparent;
  }
}

/* Small tablet */
@media screen and (min-width: 620px) {
  .navigation-content-info {
    padding: 5px 20px 10px 50vw;
  }

  .fsnav .fsnav-link {
    display: inline-block;
    padding: 20px 5px;
    font-size: 18px;
    color: #344563;
  }

  .see-more-program a {
    border-bottom: 1px solid #fff;
    font-size: 20px;
  }

  .fsnav a:nth-child(7) {
    display: none;
  }

  .menu {
    display: none;
  }

  .fsnav-close {
    display: none;
  }

  .welcome-content {
    margin: 20vh 15vw 15vh;
  }

  .greeting-paragraph {
    font-size: 21px;
  }

  .welcome-content h1 {
    font-size: 50px;
    background-image: linear-gradient(to right, #f21500, #ac0102, #7f110e, #e95119, #fc560e, #f46749);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .welcome-content .intro-paragraph {
    font-size: 11px;
    margin-right: 15vw;
  }

  .program-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2px;
  }

  .program-content-card {
    display: flex;
    flex-direction: column;
  }

  .program-content-image {
    display: flex;
    flex-direction: column;
  }

  .program-content-image img {
    width: 80%;
    padding-top: 1.5vh;
  }

  .program-content-title h4 {
    font-size: 13px;
    margin-top: -4vh;
    text-align: center;
  }

  .program-content-info p {
    font-size: 10px;
    padding: 2.5px;
    text-align: center;
  }

  .see-more-program {
    text-align: center;
    background: black;
    padding: 20px 10px;
    margin: 9vh 30vw 18vh 30vw;
    opacity: 0.2;
  }

  .featured-speaker-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .featured-speaker-image {
    background-image: repeating-linear-gradient(45deg, #cacaca 25%, transparent 25%, transparent 75%, #cacaca 75%, #cacaca), repeating-linear-gradient(45deg, #cacaca 25%, #fff 25%, #fff 75%, #cacaca 75%, #cacaca);
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
    width: 50%;
    height: 20%;
    bottom: auto;
  }

  .featured-speaker-image img {
    width: 150px;
    height: 140px;
    margin-top: 3vh;
    padding-left: 1.5vw;
  }

  .featured-speaker-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
  }

  .dropdown {
    display: none;
  }

  /* About page */

  .welcome-content h2 {
    font-size: 40px;
  }

  .welcome-content .intro-paragraph-about {
    font-size: 12px;
  }

  .program-about h5 {
    font-size: 22px;
  }

  .program-about-logo img {
    width: 40%;
    margin-left: 30%;
  }

  .program-about-logo p::before,
  .program-about-logo p::after {
    content: "";
    display: block;
    margin: 0 17vw;
    border-bottom: 2px solid #cacaca;
  }

  .pass-summit {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* Large tablet & Laptop */
@media screen and (min-width: 960px) {
  body {
    font-size: 18px;
  }

  .menu {
    display: none;
  }

  .fsnav-close {
    display: none;
  }

  .fsnav .fsnav-link {
    display: inline-block;
    padding: 20px 10px;
  }

  /* .navigation-content-info {
    padding: 5px 20px 10px 57vw;
  } */

  .fsnav a:nth-child(7) {
    display: inline-block;
    color: #f00;
  }

  .welcome-content h1 {
    margin-right: 30%;
    font-size: 55px;
  }

  .featured-speaker-image img {
    width: 170px;
    height: 140px;
    margin-top: 3vh;
    padding-left: 1.5vw;
  }
}
