<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Kaduna Security Summit 2021</title>
</head>
<body>
  <header>
    <div class="navigation-info">
      <ul class="navigation-content-info">
        <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
         <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#">English</a></li>
         <li><a href="#">My Page</a></li>
         <li><a href="#">Logout <i class="fa fa-sign-out"></i></a></li>
      </ul>
    </div>
    <div class="navigation-bar">
      <div class="logo">
        <a href="/"><img src="/images/kaduna-img.jpg" alt="kaduna sate" class="logo-icon"></a>
      </div>
      <nav>
        <div class="fsnav">
          <button type="button" class="fsnav-close">&times;</button>
          <a href="about.html" class="fsnav-link" id="#about">About</a>
          <a href="#" class="fsnav-link" id="#program">Program</a>
          <a href="#" class="fsnav-link" id="#join">Join</a>
          <a href="#" class="fsnav-link" id="#sponsor">Sponsor</a>
          <a href="#" class="fsnav-link" id="#news">News</a>
          <a href="#" class="fsnav-link" id="#cc-campaign">Security Awareness</a>
        </div>
        <div class="menu" onclick="openNav()">
          <div class="menu-line"></div>
          <div class="menu-line"></div>
          <div class="menu-line"></div>
        </div>
      </nav>
    </div>
  </header>
  <div class="section-wrapper">
    <section id="welcome" class="welcome">
      <div class="welcome-content">
        <p class="greeting-paragraph-about">"Hello! Sharing world"</p>
        <h2>CREACTIVE COMMONS GLOBAL SUMMIT 2015</h2>
        <p class="intro-paragraph-about">
          A joyful celebration believeing in the value of openness and sharing, creating a positive change with people from over 80 countries is taking place in October, in Korea.
        </p>
        <div class="welcome-content-contact">
          <p>Please contact us per Email for any further questions about CC Global Submit 2015!</p>
          <h4>
            ccsummit@cckorea.org
          </h4>
        </div>
      </div>
    </section>
    
    <section id="program" class="program-about">
      <h5>Creative Commons Globals Summit 2015 Logo</h5>
      <p>The logo of CC Global Summit 2015 was decided through the logo competition from 8, June to 7 July</p>
      <div class="program-about-logo">
        <img src="/images/kaduna-img.jpg" alt="kaduna state" class="logo-icon">
        <p>14th - 17th Oct 2015 | Emmanuel, Nigeria</p>
      </div>    
    </section>
    
    <section id="featured-speaker" class="featured-speaker-about">
      <h3>See the past CC Global Summits</h3>
      <p>Take a look at the last two CC Global Sunnits which took place in Bueenos Aires and in Warsaw.</p>
      <div class="past-summit-images">
        <img src="/images/past-summit-1.jpeg" alt="Abuja 2020" style="width:100%;">
        <div class="centered">Abuja Security summit 2020</div>
      </div>
      <div class="past-summit-images">
        <img src="/images/past-summit-1.jpeg" alt="Abuja 2020" style="width:100%;">
        <div class="centered">Abuja Security summit 2020</div>
      </div>
    </section>    
    <footer>
      <div class="footer-partner">
        <h4>Partner</h4>
        <ul class="footer-partner-list">
          <li><a href="#">Mozzilla</a></li>
          <li><a href="#">Google</a></li>
          <li><a href="#">Naver</a></li>
          <li><a href="#">Daumkakao</a></li>
          <li><a href="#">Airbnb</a></li>
        </ul>
      </div>
      <div class="footer-foot">
        <div class="footer-logo">
          <img src="/images/kaduna-img.jpg" alt="logo">
        </div>
        <div class="footer-foot-info">
          <h5>2021 Kaduna State Security Summit. Some Rights Reserved.</h5>
        </div>
      </div>
    </footer>
  </div>
  <script src="/javaScript/scripts.js"></script>
</body>
</html>