<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Kaduna Security Summit 2021</title>
</head>
<body>
  <header>
    <div class="navigation-info">
      <ul class="navigation-content-info">
        <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
         <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#">English</a></li>
         <li><a href="#">My Page</a></li>
         <li><a href="#">Logout <i class="fa fa-sign-out"></i></a></li>
      </ul>
    </div>
    <div class="navigation-bar">
      <div class="logo">
        <a href="/"><img src="/images/kaduna-img.jpg" alt="kaduna sate" class="logo-icon"></a>
      </div>
      <nav>
        <div class="fsnav">
          <button type="button" class="fsnav-close">&times;</button>
          <a href="about.html" class="fsnav-link" id="#about">About</a>
          <a href="#" class="fsnav-link" id="#program">Program</a>
          <a href="#" class="fsnav-link" id="#join">Join</a>
          <a href="#" class="fsnav-link" id="#sponsor">Sponsor</a>
          <a href="#" class="fsnav-link" id="#news">News</a>
          <a href="#" class="fsnav-link" id="#cc-campaign">Security Awareness</a>
        </div>
        <div class="menu" onclick="openNav()">
          <div class="menu-line"></div>
          <div class="menu-line"></div>
          <div class="menu-line"></div>
        </div>
      </nav>
    </div>
  </header>
  <div class="section-wrapper">
    <section id="welcome" class="welcome">
      <div class="welcome-content">
        <p class="greeting-paragraph-about">"Hello! Sharing world"</p>
        <h2>Kaduna State Security Summit 2021</h2>
        <p class="intro-paragraph-about">
          The 3rd edition of the Security Summit is scheduled on November 7 - 9, 2021. Amidst the rapidly changing digitization landscape and the highly volatile cyberspace, it becomes important to stay current on the present context and anticipate the challenges in the offing.
          Kaduna state security summit agenda is typically characterized by presence of a diverse set of themes, sub themes, topics and sub-topics, multiple tracks, varied session formats and plethora of activities and experiences that make up for a rich three-day engagement and learning for the delegates.
        </p>
        <div class="welcome-content-contact">
          <p>Please contact us per Email for any further questions about CC Global Submit 2015!</p>
          <h4>
            kadunasecurity@summit2021.org
          </h4>
        </div>
      </div>
    </section>
    
    <section id="program" class="program-about">
      <h5>Kaduna State Security Summit 2021</h5>
      <p>Kaduna State is a state in northern Nigeria. The state was created on 27th Many, 1967</p>
      <div class="program-about-logo">
        <img src="/images/kaduna-img.jpg" alt="kaduna state" class="logo-icon">
        <p>14th - 17th Oct 2015 | Emmanuel, Nigeria</p>
      </div>    
    </section>
    
    <section id="featured-speaker" class="featured-speaker-about">
      <h3>See the past security summit</h3>
      <p>Take a look at the last two security summit which took place in Abuja and in Lagos.</p>
      <div class="pass-summit">
      <div class="past-summit-images">
        <img src="/images/past-summit-2.jpg" alt="Abuja 2020">
        <div class="centered">Abuja Security summit 2020</div>
      </div>
      <div class="past-summit-images">
        <img src="/images/past-summit-3.jpg" alt="Lagos 2019">
        <div class="centered">Lagos Security summit 2019</div>
      </div>
    </div>
    </section>    
    <footer>
      <div class="footer-partner">
        <h4>Partner</h4>
        <ul class="footer-partner-list">
          <li><a href="#"><img src="/images/google.png" alt="google"></a></li>
          <li><a href="#"><img src="/images/microsoft.png" alt="microsoft"></a></li>
          <li><a href="#"><img src="/images/First-Bank.svg" alt="first bank"></a></li>
          <li><a href="#"><img src="/images/cisco.png" alt="cisco"></a></li>
          <li><a href="#"><img src="/images/vmware.png" alt="vmware"></a></li>
          <li><a href="#"><img src="/images/pwc.png" alt="vmware"></a></li>
        </ul>
      </div>
      <div class="footer-foot">
        <div class="footer-logo">
          <img src="/images/kaduna-img.jpg" alt="logo">
        </div>
        <div class="footer-foot-info">
          <h5>2021 Kaduna State Security Summit. Some Rights Reserved.</h5>
        </div>
      </div>
    </footer>
  </div>
  <script src="/javaScript/scripts.js"></script>
</body>
</html>