<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="navigation-info">
      <ul class="navigation-content-info">
        <li><a href="#">f</a></li>
         <li><a href="#">T</a></li>
          <li><a href="#">English</a></li>
         <li><a href="#">My Page</a></li>
         <li><a href="#">Logout</a></li>
      </ul>
    </div>
    <div class="navigation-bar">
      <div class="logo">
        <a href="#">LOGO <img class="logo-icon"/></a>
      </div>
      <nav>
        <div class="fsnav">
          <button type="button" class="fsnav-close">&times;</button>
          <a href="#" class="fsnav-link" id="#about">About</a>
          <a href="#" class="fsnav-link" id="#program">Program</a>
          <a href="#" class="fsnav-link" id="#join">Join</a>
          <a href="#" class="fsnav-link" id="#sponsor">Sponsor</a>
          <a href="#" class="fsnav-link" id="#news">News</a>
          <a href="#" class="fsnav-link" id="#cc-campaign">CC campaign</a>
        </div>
        <div class="menu" onclick="openNav()">
          <div class="menu-line"></div>
          <div class="menu-line"></div>
          <div class="menu-line"></div>
        </div>
      </nav>
    </div>
  </header>
  <div class="section-wrapper">
    <section id="welcome" class="welcome">
      <div class="welcome-content">
        <p class="greeting-paragraph">"Hello! Sharing world"</p>
        <h1>CREACTIVE COMMONS GLOBAL SUMMIT 2015</h1>
        <p class="intro-paragraph">
          A joyful celebration believeing in the value of openness and sharing, creating a positive change with people from over 80 countries is taking place in October, in Korea.
        </p>
        <div>
          <h3>2015.10.15(THU) ~ 16(FRI)</h3>
          <p>@ National Museum of Korea. Art center   Nabi and more
          </p>
        </div>
      </div>
    </section>
    
    <section id="program" class="program">
      <h3>Main Program</h3>
      <div class="program-content">
        <div class="program-content-card">
          <div class="program-content-image">
            <img src="/images/check-img.jpg" alt="">
            <!-- <i class="fa fa-address-card-o"></i> -->
          </div>
          <div class="program-content-title">
            <h4>Lecture</h4>
          </div>
          <div class="program-content-info">
            <p>&Lorem ipsum dolor sit amet repellendus ullam aspernatur fuga </p>
          </div>
        </div>
        <div class="program-content-card">
          <div class="program-content-image">
            <img src="/images/check-img.jpg" alt="">
          </div>
          <div class="program-content-title">
            <h4>CC Exhibition</h4>
          </div>
          <div class="program-content-info">
            <p>&Lorem ipsum dolor sit amet repellendus ullam aspernatur fuga </p>
          </div>
        </div>
        <div class="program-content-card">
          <div class="program-content-image">
            <img src="/images/check-img.jpg" alt="">
          </div>
          <div class="program-content-title">
            <h4>Forum</h4>
          </div>
          <div class="program-content-info">
            <p>&Lorem ipsum dolor sit amet repellendus ullam aspernatur fuga </p>
          </div>
        </div>
        <div class="program-content-card">
          <div class="program-content-image">
            <img src="/images/check-img.jpg" alt="">
          </div>
          <div class="program-content-title">
            <h4>Workshop</h4>
          </div>
          <div class="program-content-info">
            <p>&Lorem ipsum dolor sit amet repellendus ullam aspernatur fuga </p>
          </div>
        </div>
        <div class="program-content-card">
          <div class="program-content-image">
            <img src="/images/check-img.jpg" alt="">
          </div>
          <div class="program-content-title" class="program-content-img">
            <h4>CC Ignite</h4>
          </div>
          <div class="program-content-info">
            <p>&Lorem ipsum dolor sit amet repellendus ullam aspernatur fuga </p>
          </div>
        </div>
        <p class="see-more-program">
          <a href="#">SEE THE WHOLE PROGRAM</a>
        </p>
      </div>
      
    </section>
    
    <section id="featured-speaker" class="featured-speaker">
      <h3>Featured Speaker</h3>
      <div class="featured-speaker-content">
        <div class="featured-speaker-card">
          <div class="featured-speaker-image">
            <img src="/images/speaker.jpg" alt="speaker">
          </div>
          <div class="featured-speaker-info">
            <h6>John Walter</h6>
            <p class="featured-speaker-title">
              &Lorem ipsum dolor sit amet conse ctetur adipisicing elit.
            </p>
            <p class="featured-speaker-detail">
              &Lorem ipsum dolor sit amet conse ctetur, adipisicing elit.
            </p>
          </div>
        </div>

        <div class="featured-speaker-card">
          <div class="featured-speaker-image">
            <img src="/images/speaker.jpg" alt="speaker">
          </div>
          <div class="featured-speaker-info">
            <h6>John Walter</h6>
            <p class="featured-speaker-title">
              &Lorem ipsum dolor sit amet conse ctetur adipisicing elit.
            </p>
            <p class="featured-speaker-detail">
              &Lorem ipsum dolor sit amet conse ctetur, adipisicing elit.
            </p>
          </div>
        </div>

        <div class="featured-speaker-card">
          <div class="featured-speaker-image">
            <img src="/images/speaker.jpg" alt="speaker">
          </div>
          <div class="featured-speaker-info">
            <h6>John Walter</h6>
            <p class="featured-speaker-title">
              &Lorem ipsum dolor sit amet conse ctetur adipisicing elit.
            </p>
            <p class="featured-speaker-detail">
              &Lorem ipsum dolor sit amet conse ctetur, adipisicing elit.
            </p>
          </div>
        </div>

        <div class="featured-speaker-card">
          <div class="featured-speaker-image">
            <img src="/images/speaker.jpg" alt="speaker">
          </div>
          <div class="featured-speaker-info">
            <h6>John Walter</h6>
            <p class="featured-speaker-title">
              &Lorem ipsum dolor sit amet conse ctetur adipisicing elit.
            </p>
            <p class="featured-speaker-detail">
              &Lorem ipsum dolor sit amet conse ctetur, adipisicing elit.
            </p>
          </div>
        </div>
      </div>
      
      <div class="dropdown">
        More <i class="arrow down"></i>
      </div>
    </section>    
    <footer>
      <div class="footer-partner">
        <h4>Partner</h4>
        <ul class="footer-partner-list">
          <li><a href="#">Mozzilla</a></li>
          <li><a href="#">Google</a></li>
          <li><a href="#">Naver</a></li>
          <li><a href="#">Daumkakao</a></li>
          <li><a href="#">Airbnb</a></li>
        </ul>
      </div>
      <div class="footer-foot">
        <div class="footer-logo">
          <img src="/images/kaduna-img.jpg" alt="logo">
        </div>
        <div class="footer-foot-info">
          <h5>2021 Kaduna State Security Summit. Some Rights Reserved.</h5>
        </div>
      </div>
    </footer>

  </div>
  <script src="/javaScript/scripts.js"></script>
</body>
</html>